body, html{
	background-color: lightblue;
	background-attachment: fixed;
	margin:0;
	height: 100%;
	overflow-x:hidden;
}

h1,h2,p {
	margin-top: 0px;
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	color:black;
}

h1,h2 {
	color: lightblue;
	text-shadow: 0px 0px 5px gold;
}

.page {
	position: relative;
}

#wishtext {
	display: none;
	position: absolute;
	font-size: 4vmin;
	top:15%;
	right:5%;
	align-self: center;
	z-index:3;
	background: rgba(0,0,0,0.3);
	padding: 5%;
	border-radius: 5% 10%;
}

#clickme > button{
	position: absolute;
	z-index:5;

	height: 20%;
	width: 40%;
	font-size: 120%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;

	border: transparent;
	border-radius: 5px;
	cursor: pointer;
	background: radial-gradient(closest-side, lightblue, black);

	font-family: "Comic Sans MS", cursive, sans-serif; 
}

#blackLayer { /* the black layer */
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

.fadeBlackLayer {
	animation-name: changeOpacity;
	animation-delay: 10s;
	animation-duration: 2s;
	animation-fill-mode: both;
}

.banner {
	box-shadow: 10px 10px 2px -5px gray;
}

#horizontalBanner {
	display: none;
	content: "";
	width: 100%;
	height: 10%;
	background-color: lightpink;
	position:absolute;
	top: 5% ;
	left:0px;
	z-index:4;
	box-shadow: 0px 10px 5px;
}

.horizontalBannerAnimation {
	animation-name: floatleft;
	animation-delay: 0s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

#verticalBanner {
	display: none;
	content: "";
	width: 10%;
	height: 100%;
	background-color: lightblue;
	position:absolute;
	left: 5% ;
	top:0px;
	z-index:2;
	box-shadow: 10px 0px 5px;
}

.verticalBannerAnimation {
	animation-name: floatup;
	animation-delay: 0s;
	animation-duration: 10s;
	animation-fill-mode: both;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: gold;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

p::first-letter {
	font-size: 200%;
	color:RGB(220,150,150);} /* slightly darker pink */

p, footer {
	background: rgba(255,255,255,0.3);
	width: 62%;
	border-radius: 10px;
	padding: 10px;
	font-size: 5vmin;
	
}
footer {
	font-size: 0.8em;
	margin: 0 auto;
	position:  absolute;
	bottom: 5%;
	
	
}
	
@keyframes changeOpacity{
	0% { opacity: 1; }
	100% { opacity: 0;}
}


.delay1 { /* Delay for first title */
	animation-name: fadein;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-fill-mode:  both;
}
.delay2 { /* delay for second title */
	animation-name: fadein;
	animation-duration: 2s;
	animation-delay: 3s;
	animation-timing-function: ease;
	animation-fill-mode:  both;
}
@keyframes floatup {
	0% { transform: translateY(100%); }
	20% { transform: translateY(0%); }
	80% { transform: translateY(0%); }
	100% { transform: translateY(-102%); }
}
@keyframes floatleft {
	0% { transform: translateX(100%); }
	20% { transform: translateX(0%); }
	80% { transform: translateX(0%); }
	100% { transform: translateX(-102%); }
}

@keyframes fadein {
	0% { opacity: 0; transform: translateX(5%); }
	/* 75% { opacity: .1; } */
	100% { opacity: 1; transform: translateX(0%); }
}
	
.page {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pageCloud {
	background-image: url("images/cloud.jpg");
}
#pageCloud {
	background-image: url("images/cloud.jpg");
}

#pageDandalion {
	background-image: url("images/dandelion.jpg");
}

#pageDandalion > p {
	position: relative;
	left: 1%;
	top: 5%;
}
#pageDawn {
	background-image: url("images/dawn.jpg");
}

#pageDawn > p {
	position: absolute;
	right: 1%;
	top: 15%;
	width: 80%;
}
#pageRain {
	
	background-image: url("images/rain.jpg");
}
#pageRain > p {
	width: 50%;
	position: absolute;
	right: 1%;
	bottom: 1%;
}
#pageRiver {
	
	background-image: url("images/river.jpg");
}
#pageRiver > p {
	position: absolute;
	left: 1%;
	bottom: 1%;
}
#pageSnow {
	
	background-image: url("images/snow.jpg");
}
